#CarruselDesktop .CarruselDesktopL2 .swiper-pagination {
  position: initial;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  color: #ffffff;
}

#CarruselDesktop .CarruselDesktopL2 .swiper-button-next {
  color: #ffffff;
  font-weight: 900;
  padding-bottom: 60px;
  width: calc(var(--swiper-navigation-size) / 1.4 * 27);
}

#CarruselDesktop .CarruselDesktopL2 .swiper-button-prev {
  color: #ffffff;
  font-weight: 900;
  padding-bottom: 60px;
  width: calc(var(--swiper-navigation-size) / 1.4 * 27);
}

#CarruselDesktop .CarruselDesktopL2 .swiper-pagination-bullet {
  background-color: #d9d9d9;
  width: 24px;
  height: 24px;
  margin: 16px;
}

@media (width <= 1536px) {
  #CarruselDesktop .CarruselDesktopL2 .swiper-button-next {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 1.6 * 27);
  }

  #CarruselDesktop .CarruselDesktopL2 .swiper-button-prev {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 1.6 * 27);
  }
}

@media (width <= 1380px) {
  #CarruselDesktop .CarruselDesktopL2 .swiper-pagination {
    position: fixed;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    color: #ffffff;
  }

  #CarruselDesktop .CarruselDesktopL2 .swiper-button-next {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 1.7 * 27);
  }

  #CarruselDesktop .CarruselDesktopL2 .swiper-button-prev {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 1.7 * 27);
  }
}

@media (width <= 1280px) {
  #CarruselDesktop .CarruselDesktopL2 .swiper-button-next {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 1.9 * 27);
  }

  #CarruselDesktop .CarruselDesktopL2 .swiper-button-prev {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 1.9 * 27);
  }
}

@media (width <= 1180px) {
  #CarruselDesktop .CarruselDesktopL2 .swiper-button-next {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 2.2 * 27);
  }

  #CarruselDesktop .CarruselDesktopL2 .swiper-button-prev {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 2.2 * 27);
  }
}

/* A partir de aca arranca el CarruselDesktop responsive */

@media (width <= 1024px) {
  #CarruselDesktop .CarruselDesktopL2 .swiper-pagination {
    position: calc(var(--swiper-navigation-size));
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    color: #ffffff;
    
    
  }
  
  #CarruselDesktop .CarruselDesktopL2 .swiper-button-next {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
  }

  #CarruselDesktop .CarruselDesktopL2 .swiper-button-prev {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 60px;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
  }
}
@media (width <= 768px) {

  #CarruselDesktop .CarruselDesktopL2 .swiper-pagination {
    position: calc(var(--swiper-navigation-size));
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    color: #ffffff;

  }


}

