.headerModal_opes {
    width: 100%;
    height: 200px;
    background-image: url("../../../public/images/quehacemos/bibliotecaL2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: calc(var(--radius) - 2px);
    border-top-right-radius: calc(var(--radius) - 2px);

  }

  .headerModal {
    width: 100%;
    height: 275px;
    background-image: url("../../../public/images/quehacemos/modalbg.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    padding-top: 110px;
    /*   border-radius: 18.3714px; */
  }